<a href="https://colab.research.google.com/github/Sahp59/daa_2021_1/blob/master/21octube2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# 4
def ejemplo1( n ):
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    print(f"total={ total }")
ejemplo1( 104 )

total=1

In [10]:
#1+n^2
def ejemplo2( n ):
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    return contador

ejemplo2( 10000 )

100000000

In [12]:
#102
def ejemplo3( n ): # n=4
    x = n * 2 # x = 8
    y = 0   # y = 0
    for m in range( 100 ): #3
        y = x - n   # y = 4
    return y

ejemplo3(1)

1

In [ ]:
#3
def ejemplo4( n ):
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    return z

ejemplo4(9)

In [ ]:
1+x
def ejemplo5( x ):
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    return n

ejemplo5(10)

In [16]:
#2+n^3
def ejemplo6( n ):
    data=[[[1 for x in range(n)] for x in range(n)]
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    return suma
print(ejemplo6( 1000 ))

1000000000